<h1>
  {{title}}
</h1>
<br>
Full name: {{fullName}}
<br>
age: {{age}}
<br>
Active: {{active}}

<br>
Products info:
<br>
<!--&nbsp;&nbsp;Id: {{product.id}}
<br>
&nbsp;&nbsp;<img src="assets/images/{{product.photo}}" width = "120px">-->

<table border="1">
  <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Photo</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Status</th>
  </tr>
  <tr *ngFor="let product of productList">
    <td>{{product.id}}</td>
    <td>{{product.name}}</td>
    <td><img src="assets/images/{{product.photo}}" width="128"></td>
    <td>{{product.price}}</td>
    <td>{{product.quantity}}</td>
    <td>
      <span *ngIf="product.quantity < 5">
        Out of stock
      </span>
    </td> 
  </tr>
</table>

Call display1: {{display1()}}
<br>
Call display2: {{display2('abc')}}